* {
  font-family: 'Trebuchet MS', sans-serif;
}

.App {
  text-align: center;
}

.inputBtn {
  background-color: #FCBA28;
  border-color: #FCBA28;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  padding: 10px 20px;
  margin-bottom: 50px;
  margin-top: 20px;
}

.inputBtn:hover {
  cursor: pointer;
}

.input {
  padding: 10px 20px;
  border-top-left-radius: 12px ; 
  border-bottom-left-radius: 12px;

}

.questions {
  font-size: 50px;
}

.questionItem {
  list-style-type: none;
}

.questionLink {
  text-decoration: none;
  color: black;
}

.options {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
  margin-bottom: 30px;
}

.voteBtn {
  background-color: #FCBA28;
  border-color: #FCBA28;
  padding: 6px 15px;
  border-radius: 5px;
}

.voteBtn:hover {
  cursor: pointer;
}

.dismissBtn {
  background-color: #FCBA28;
  border-color: #FCBA28;
  padding: 6px 15px;
  border-radius: 5px;
}

.dismissBtn:hover {
  cursor: pointer;
}